@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body.cv {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #3b3b3b;
}
body.cv a {
  text-decoration: none;
}
body.cv a:hover {
  border: none;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.cv-orange {
  background-color: #ecb830;
}
.cv-orange{
  background-color: #ecb830;
}
.cv-grey{
  background-color: #3b3b3b;
}
.cv-white{
  background-color: #f1f1ef;
}
.cv-sec{
  padding: 0 30px;
}
.cv-h1, .cv-h2{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.cv-h2{
  margin-bottom: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ecb830;
}
/*  Header  */
.header-nav {
  overflow: hidden;
  background-color: #333;
}
.header-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.header-nav a:hover {
  background-color: #ddd;
  color: black;
}
.active {
  color: white;
}
.header-nav .icon {
  display: none;
}
/*  Left Column  */
.cv-photoname{
  padding: 30px;
}
.cv-h1{
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
  color: #010000;
}
.cv-figure{
  margin: 0;
}
.cv-photo {
  max-width: 100%;
}
.cv-contacts{
  padding: 30px;
}
.cv-skills{
  padding-bottom: 30px;
}
.cv-contacts,
.cv-contacts a{
  color: #ffffff;

}
.contacts-link{
  border-bottom: 1px solid #ffffff;
}
.contacts-list{
  list-style: none;
  padding: 0;
}
.contacts-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contacts-item img{
  width: 40px;
  margin-right: 10px;
}
.contacts-linkimg{
  border: none;
}
.cv-skills-list{
  color: #ffffff;
  list-style: none;
  padding-left: 15px;
}
.cv-skills-item{
  position: relative;
  margin-bottom: 7px;
}
.cv-skills-item::before{
  content: "";
  position: absolute;
  left: -15px;
  top: calc(50% - 3px);
  display: block;
  height: 6px;
  width: 6px;
  background-color: #ecb830;
  border-radius: 100%;
}
.cv-h2-white{
  color: #ffffff;
}