@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body.cv {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #3b3b3b;
}
body.cv a {
  text-decoration: none;
}
body.cv a:hover {
  border: none;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.cv-orange {
  background-color: #ecb830;
}
.cv-orange{
  background-color: #ecb830;
}
.cv-grey{
  background-color: #3b3b3b;
}
.cv-white{
  background-color: #f1f1ef;
}
.cv-sec{
  padding: 0 30px;
}
.cv-h1, .cv-h2{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.cv-h2{
  margin-bottom: 15px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ecb830;
}