* {
  margin: 0;
  padding: 0;
}
body {
  background-color: aqua;
}
.container {
  background-color: bisque;

  width: 1400px;
  margin: 0 auto;
}
h1 {
  font-size: 40px;
}
.my-photo {
  width: 20%;
}
main {
  font-size: 20px;
}
ul {
  list-style: none;
  margin-left: 20px;
}
p {
  margin-left: 20px;
}
footer {
  display: flex;
  align-items: center;
}
time {
  margin-left: 20px;
  font-weight: 700;
}
.container-course-photo {
  margin-left: 30px;
}
.course-photo {
  width:40%;
}
